* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;

    background: white;

    padding: 40px;

    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 10px;
}

#status {
    color: #666;
    margin-bottom: 25px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 16px;
}

button {
    padding: 12px 18px;

    border: none;

    border-radius: 8px;

    background: #111;

    color: white;

    cursor: pointer;
}

button:hover {
    background: #333;
}

#error {
    margin-top: 10px;

    color: red;
}

#taskList {
    margin-top: 25px;

    list-style: none;
}

.task {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 12px;

    margin-bottom: 10px;

    background: #f1f1f1;

    border-radius: 8px;
}

.delete-button {
    background: #555;

    padding: 7px 10px;
}
